.project-Container {
    width: 100%;
    height: clamp(14rem, 40vw, 20rem);
    border-radius: 10px;
    position:relative;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@keyframes change-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reverse-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.project-Info {
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,#0000000c,#000c 95%);
    padding: 2rem 0.5rem 2rem 2rem;
    opacity: 0;
    animation: reverse-opacity .3s ease-in-out;
    animation-fill-mode: forwards;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
}


.project-Container:hover .project-Info{ 
    animation: change-opacity .3s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes zooming-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.02);
    }
}
@keyframes zooming-out {
    from {
        transform: scale(1.02);
    }
    to {
        transform: scale(1);
    }
}

.project-Container img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
    pointer-events: none;
    animation: zooming-out .3s ease-in-out;
}

.project-Container:hover img{
    animation: zooming-in .3s ease-in-out;
    animation-fill-mode: forwards;
}


.project-Title{
    color: #fff;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
}

.project-Desc{
    line-height: 1.5rem;
    margin-top: 0.5rem;
    font-size: clamp(0.8rem, 2vw, 1.125rem);
    color: #dedede;
    width: 85%;
}

.project-ListTag{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
    padding-left: 0;
}

.project-Tags{
    display: flex;
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background-color: #171f26;
    font-size: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    align-items: center;
    width: fit-content;
}

.project-Tags img{
    height: 20px;
    width: 30px;
    margin-right: 10px;
    pointer-events: none;
}

.project-Details{
    display: flex;
    color: #fff;
    text-decoration: none;
    background-color: #626262;
    border-radius: 20px;
    padding-block: 0.6rem;
    padding-inline: 1rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    gap: 0.6rem;
    font-size: 15px;
}

.project-Details img{
    height: 1.2rem;
    width: 1.2rem;
}

@media (min-width:500px) and (max-width: 1000px) {
    .project-Info{
        height: 100%;
        display: flex;
        justify-content: end;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom,#0000000c,#000c 95%);
        padding: 2rem 2rem 3rem 2rem;
        opacity: 0;
        animation: reverse-opacity .3s ease-in-out;
        animation-fill-mode: forwards;
        width: 100%;
        font-family: 'DM Sans', sans-serif;
    }
}

@media  screen and (max-width: 1000px) {
    .project-Info{
        opacity: 1;
        animation: none;
    }
    
    .project-Container:hover .project-Info{ 
        animation: change-opacity .3s ease-in-out;
        animation-fill-mode: forwards;
    }
    
    .project-Title{
        color: #fff;
    }
    
    .project-Desc{
        line-height: 1.5rem;
        margin-top: 0.5rem;
        color: #dedede;
        width: 75%;
        text-wrap: pretty;
    }
    
    .project-ListTag {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 0.5rem;
    }
    
    .project-Tags{
        display: flex;
        padding-inline: 0.8rem;
        padding-block: 0.3rem;
        background-color: #171f26;
        font-size: 10px;
        border-radius: 20px;
        text-decoration: none;
        color: #fff;
        align-items: center;
        width: fit-content;
    }
    
    .project-Tags img{
        height: 20px;
        width: 30px;
        margin-right: 10px;
        pointer-events: none;
    }
    
    .project-Details{
        display: flex;
        gap: 0.6rem;
        position: absolute;
        right: 2rem;
        font-size: 12px;
        padding-inline: 1rem;
        padding-block: 2rem;
        border-radius: 1rem;
        color: #f5f5f5;
        text-decoration: none;
    }
    .project-Details img{
        height: 1.2rem;
        width: 1.2rem;
    }

    .project-Title{
        color: #fff;
    }
    
    .project-Desc{
        line-height: 1.5rem;
        margin-top: 0.5rem;
        color: #dedede;
        width: 90%;
        line-height: 15px;
    }
    
    .project-ListTag{
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 0.5rem;
    }
    
    .project-Tags{
        display: flex;
        padding-inline: 0.8rem;
        padding-block: 0.3rem;
        background-color: #171f26;
        font-size: 7px;
        border-radius: 20px;
        text-decoration: none;
        color: #fff;
        align-items: center;
        width: fit-content;
    }
    
    .project-Tags img{
        height: 20px;
        width: 30px;
        margin-right: 10px;
        pointer-events: none;
    }
    
    .project-Details{
        display: flex;
        gap: 0.6rem;
        position: absolute;
        top: 1.5rem;
        right: 1.2rem;
        font-size: 10px;
        padding-inline: 1rem;
        padding-block: 0.6rem;
        border-radius: 1rem;
        color: #f5f5f5;
        text-decoration: none;
    }

    .project-Details img{
        height: 0.7rem;
        width: 0.7rem;
    }
}