.NavBar-Container {
    display: flex;
    width: 100%;
    align-items: center;
}

.NavBar-Element {
    text-decoration: none;
    font-size: clamp(1rem, 3vw, 1.25rem);
    margin-right: 20px;
    color: #000;
}

.NavBar-SVG {
    height: 1rem;
    width: 1rem;
    margin-right: 20px;
}

.Project-Name {
    color: #000;
    font-size: clamp(1rem, 3vw, 1.25rem);
}

@media screen and (max-width:1210px) {
    .NavBar-Container{
        justify-content: center;
    }
}