.article-Container{
    display: grid; 
    position: relative; 
    margin-bottom: 50px;
}

.article-Header{
    z-index: 10; 
    margin-top: 0.25rem; 
    margin-bottom: 0.5rem;  
    text-transform: uppercase;
    color: #000;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    line-height: 1.6rem;
    width: 120px;
    height: 51px;
}

.article-Content{
    z-index: 10; 
}

.article-Titles{
    display: flex; 
    flex-direction: column; 
    gap: 0.25rem; 
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.article-TitleAnchor{
    display: inline-flex; 
    align-items: baseline; 
    line-height: 1.75rem; 
    line-height: 1.25; 

    color: #000;

    font-family: Arial;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-style: normal;
    font-weight: 700;

    text-decoration: none;
}

.article-TitleAnchor span{
    font-family: 'DM Sans', sans-serif;
}

.article-Subtitle{
    color: #707070;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.article-p{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    margin-top: 0.5rem; 
    width: 100%;
    text-wrap: pretty;
}

.article-List{
    display: flex; 
    margin-top: 0.5rem; 
    flex-wrap: wrap; 
    list-style: none;
    padding: 0;
}

.article-ListItem{
    display: flex; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    align-items: center; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 500; 
    line-height: 1.25rem; 
    border-radius: 20px;
    background: #D9D9D9;
}

.article-ListItem span{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.image-Link{
    display: inline-block; 
    margin-left: 0.25rem; 
    width: 1rem; 
    height: 1rem; 
}

@media (min-width: 1281px) { 
    .article-Container{
        grid-template-columns: repeat(4, minmax(0, 1fr)); 
        gap: 10rem; 
    }

    .article-Header{
        grid-column: span 1;
    }

    .article-Content{
        grid-column: span 3;
    }
}

@media screen and (max-width:1100px){
    .article-Header{   
        width: 150px;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
    }
    .article-Container{
        margin-right: 10px;
        gap: 1rem; 
    }

    .article-Subtitle {
        margin-bottom: 0;
    }
}