.article-Container{
    display: grid; 
    position: relative; 
    /* transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;  */
}

.article-Header{
    z-index: 10; 
    margin-top: 0.25rem; 
    margin-bottom: 0.5rem;  
    text-transform: uppercase;


    color: #000;

    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;

    width: 120px;
    height: 51px;
}

.article-Content{
    z-index: 10; 
}
.article-Titles{
    display: flex; 
    flex-direction: column; 
    gap: 0.25rem; 
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.article-TitleAnchor{
    display: inline-flex; 
    align-items: baseline; 
    line-height: 1.75rem; 
    line-height: 1.25; 

    color: #000;

    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    text-decoration: none;
}

.article-TitleAnchor span{
    font-family: 'DM Sans', sans-serif;
}

.article-Subtitle{
    color: #707070;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.article-p{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    margin-top: 0.5rem; 
    width: 300px;
    height: 79px;
    text-wrap: pretty;
}

.article-List{
    display: flex; 
    margin-top: 0.5rem; 
    flex-wrap: wrap; 
    list-style: none;
    padding: 0;
}

.article-ListItem{
    display: flex; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    align-items: center; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 500; 
    line-height: 1.25rem; 
    border-radius: 20px;
    background: #D9D9D9;
    margin-right: 20px;
}

.article-ListItem span{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.image-Link{
    display: inline-block; 
    margin-left: 0.25rem; 
    width: 1rem; 
    height: 1rem; 
}

@media (min-width: 640px) { 
    .article-Container{
        grid-template-columns: repeat(8, minmax(0, 1fr)); 
        gap: 2rem; 
    }

    .article-Header{
        grid-column: span 1;
    }

    .article-Content{
        grid-column: span 6/span 6; 
    }
}
@media (min-width: 768px) { 
    .article-Container{
    gap: 9rem; 
    }
}

@media (min-width:360px) and (max-width:1000px){
    .article-Header{   
        width: 150px;
    }
}