.project-Container{
    width: 700px;
    height: 432px;
    border-radius: 10px;
    position:relative;
    margin: 0;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}



.project-Container img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
    pointer-events: none;
}


.project-Info{
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,#0000000c,#000c 95%);
    padding: 2rem;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
}

.project-Container:hover .project-Info{
    opacity: 1;
    z-index: 1;
}

.project-Container:hover .project-Info a{
    z-index: 1;
}


.project-Title{
    color: #fff;
    font-size: 32px;
}

.project-Desc{
    line-height: 1.5rem;
    margin-top: 0.5rem;
    font-size: 18px;
    color: #dedede;
    width: 85%;
}

.project-ListTag{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
}

.project-Tags{
    display: flex;
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background-color: #171f26;
    font-size: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    align-items: center;
    width: fit-content;
    background-color: #005b11;
}

.project-Tags img{
    height: 20px;
    width: 30px;
    margin-right: 10px;
    pointer-events: none;
}

.project-Details{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: absolute;
    right: 2rem;
    bottom: 4rem;
    font-size: 12px;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: 1rem;
    color: #f5f5f5;
    text-decoration: none;
}

.project-Links{
    display: flex;
    text-decoration: none;
    color: #fff;
    background-color: #626262;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.project-Links img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}