.Container-Content{
    min-height: 92.41192411924119vh;
    --l_display: unset;
    height: auto;
    min-width: 0px;
    max-width: 99999px;
    max-height: 99999px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    position:relative;
    top: 0;

    background: #ffffff;
}
.Projects-Container{
    background: #ffffff;

    top: 0;
    display: flex;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; 
    align-items: center; 
    /* max-width: 1100px; */
    position:relative;
}

.projectsTitle{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 60px;
}

.second-Container{
    max-width: 1750px;
    height: 100%; 
    text-align: left;
    display: flex;
    justify-content: center; 
}

.third-Container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 1rem; 
    max-width: 90%; 
    height: 100%; 
}

.header{
    display: flex; 
    top: 0; 
    grid-column: span 1 / span 1; 
    gap: 0.75rem;
    position: sticky;
    margin-bottom: 30px;
    max-height: 100vh;
}

.headerContent {
    display: flex; 
    padding-right: 3.5rem; 
    padding-top: 1rem;
    padding-bottom: 6rem; 
    flex-direction: column; 
    top: 0;
    padding-top: 0;
    
}

.headerContent-h1 {
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
}

.headerContent-p{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(0.9rem, 2vw, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headerContent-nav{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; 
}

.headerContent-navContent{
    display: flex; 
    flex-direction: column; 
    gap: 0.25rem; 
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 600; 
    list-style-type: none;
}

.headerContent-navContent-a{
    display: flex; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    align-items: center; 
    max-width: min-content; 
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    text-decoration: none;
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 20px;
}

.li-line{
    width: 2rem; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    height: 4px;
    background-color: #000;
    opacity: .5;
    margin-right: 10px;
}

.li-lineSelected{
    width: 2rem; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    height: 4px;
    background-color: #000;
    margin-right: 10px;
}

.headerContent-navContent-a:hover .li-line{
    width: 4rem;
    opacity: 1;
}

.headerContent-navContent-a:hover  .li-lineSelected{
    width: 4rem;
    opacity: 1;
}


.li-text{
    margin-top: 0.35rem;
    opacity: .5;
}

.li-textSelected{
    margin-top: 0.35rem;
}

.headerContent-navContent-a:hover  .li-text{
    opacity: 1;
}

.projectsContent{
    display: flex; 
    flex-direction: column; 
    grid-column: span 1 / span 1; 
    width: 100%;
}

.test{
    border: 3px solid black;
    min-height: 800px;
    min-width: 200px;
}

@media (min-width:415px) and (max-width: 1000px){

    .headerContent{
        padding: 0;
    }
    .headerContent-nav{
        display: none; 
    }
    
    .third-Container{
        display: flex;
        flex-direction: column;
    }

    .header{
        position: relative;
        top: 100px;
    }

    .Projects-Container{
        min-height: 92.41192411924119vh;
        --l_display: unset;
        height: auto;
        max-width: 99999px;
        max-height: 99999px;
        align-self: stretch;
        justify-content: stretch;
        position:relative;

        background: #ffffff;

        top: 0;
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem; 
        align-items: center; 
        /* max-width: 1100px; */
    }
}

@media screen and (max-width: 415px){

    .headerContent{
        padding: 0;
    }
    .headerContent-nav{
        display: none; 
    }
    
    .third-Container{
        display: flex;
        flex-direction: column;
    }

    .header{
        position: relative;
        top: 100px;
    }

    .Projects-Container{
        min-height: 92.41192411924119vh;
        --l_display: unset;
        height: auto;
        max-width: 99999px;
        max-height: 99999px;
        align-self: stretch;
        justify-content: stretch;
        position:relative;

        background: #ffffff;

        top: 0;
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem; 
        align-items: center; 
        /* max-width: 1100px; */
    }
}
