.project-Header{
    background-color: #fff;
    min-height: 100px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    position: sticky;
    top: 0;
}

.project-Main {
    background-color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    position: sticky;
    top: 0;
    overflow-y: hidden;
}

.project-Main h1{
    color: #000000;
    font-size: 20px;
}