.project-Header{
    background-color: #fff;
    min-height: 100px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-Main {
    background-color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    display: block;
}

.project-Info{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1150px;
    height: 100vh;
}
.project-Header{
    width: 100%;
    min-height: 170px;
}

.project-Main h1{
    color: #000000;
    font-size: clamp(2rem, 6vw, 3.125rem);
    margin: 0;
}

.project-Main .project-Type{
    font-size: clamp(1rem, 3vw, 1.3rem);
    margin: 20px 0 0 0;
    color: #616161;
}

.navContainer{
    margin: 2rem 0 0 0;
    width: 90%;
    display: flex;
    justify-content: center;
}

.project-Details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    column-gap: 2rem;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.div1 p{
    font-size: clamp(1rem, 2.5vw, 1.125rem);
    text-wrap: pretty;
}

.div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    flex-wrap: wrap;
}

.div2 div {
    flex: 1;
}

.div2 {
  h2 {
    font-size: clamp(1.5rem, 2.5vw, 1.875rem);
    margin-bottom: 10px;
    border-top: 1px solid #000;
    padding-top: 1rem;
  }

  p {
    font-size: clamp(1.1rem, 2vw, 1.3125rem);
    margin: 0;
  }
}


.div3 { 
    grid-area: 2 / 1 / 5 / 3; 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(75px,1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    gap: 1rem;
    margin-top: 4rem;
}

.otherProject-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
    position: sticky;
    bottom: 0;
    padding: 0.5rem;
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

@keyframes button-translate-on {
    0%{
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-1px, -1px);
    }
    100%{
        transform: translate(-2px, -2px);
    }
}

@keyframes button-translate-off {
    0%{
        transform: translate(-2px, -2px);
    }
    50% {
        transform: translate(-1px, -1px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

.projectLinks-Container {
    margin-top: 2rem;
    gap: 0.7rem;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    
}

.projectLinks-Container a {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    animation: button-translate-off .15s linear;
    box-shadow: 0px 0px 0px 0px #000;

    border-radius: 10px;
    border: 2px solid #000;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    position: relative;
    color: black;
    background-color: white;
    text-decoration: none;
    width: clamp(10rem, 20vw, 11.75rem);
    height: clamp(3rem, 6vw, 3.6875rem);
    margin-right: 12%;
    min-width: 145px;

    cursor: pointer;
    user-select: none;
}

.projectLinks-Container a:hover {
    box-shadow: 5px 5px 0px 0px #000;
    animation: button-translate-on .15s forwards;
}

.popUpImagePreview {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: rgba(0,0,0,.9);
    height: 100vh;
    width: 100%;
    z-index: 100;
    margin: 0;
}

.popUpImagePreview div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.project-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 830px) and (max-width: 1210px) {
    .project-properties {
        display: flex;
        align-items: end;
    }

    .div3 { 
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1210px) {
    .projectLinks-Container {
        justify-content: center;
    }
    .project-Title {
        flex-direction: column;
        align-items: center;
    }

    .project-Details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }

    .project-description {
        margin-right: 30px;
    }

    .project-Header{
        text-align: center;
    }

    .div1 {
        padding-left: 5vw;
        padding-right: 5vw;
        text-wrap: pretty;
        align-items: center;
    }

    .div2{
        display: inline;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 100%;
    }

    .div3{
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        margin-right: 5vw;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .otherProject-buttons a{
        background-color: #a7a7a750;
        border-radius: 50%;
        display: flex;
    }

    
    .popUpImagePreview div img{
        width: 95%;
    }

    .navContainer {
        margin: 2rem 1rem 0 1rem;
    }
}